{
  "presets": ["es2015-node5", "react", "stage-1"],
  "plugins": ["transform-runtime", "add-module-exports", "babel-relay-plugin-loader"],
  "env": {
    "production": {
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-inline-elements"
      ]
    }
  }
}
