@import '~normalize.css/normalize.css';
@import '~bootstrap/dist/css/bootstrap.css';

body {
	color: #333;
  font-family: 'Segoe UI', 'Lucida Grande', 'Ubuntu', 'sans-serif';
  font-size: 16px;
  line-height: 1.5;
}
